---
import { getEntry } from "astro:content";
import MinimalLayout from "../layouts/MinimalLayout.astro";
const content = await getEntry("datas", "privacy-policy/content");
---

<MinimalLayout title="Politique de confidentialité">
  <section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="text-3xl font-semibold mb-4">
      {content.data.title}
    </div>
    <div class="mb-4">
      Dernière mise à jour : <span class="font-semibold"
        >{content.data.lastUpdated}</span
      >
    </div>
    <div class="mx-10 px-10">
      <p class="mb-4">
        {content.data.introduction}
      </p>

      {
        content.data.articles.map((article: any) => (
          <>
            <div class="text-xl font-semibold mb-2">{article.title}</div>
            {article.content.map(
              (item: { type: string; text: unknown; items: any[] }) => (
                <>
                  {item.type === "paragraph" ? (
                    <p class="mb-4">{item.text}</p>
                  ) : (
                    <ul class="list-disc list-inside mb-4">
                      {item.items.map((listItem: unknown) => (
                        <li>{listItem}</li>
                      ))}
                    </ul>
                  )}
                </>
              )
            )}
          </>
        ))
      }
    </div>
  </section>
</MinimalLayout>
