---
interface Props {
  data: {
    title: string;
    content: string[];
    action: {
      title: string;
      url: string;
    };
    privacyPolicy: {
      content: string;
      label: string;
      url: string;
    };
  };
}
const { data } = Astro.props;
---

<section id="join-us" class="rounded-lg bg-gray-100 dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <h2
        class="mb-4 text-3xl tracking-tight font-extrabold sm:text-4xl"
        set:html={data.title}
      />
      <p
        class="mx-auto mb-8 max-w-2xl font-light md:mb-12 sm:text-xl"
        set:html={data.content}
      />
      <div class="items-center justify-center sm:flex sm:space-y-0 mb-5">
        <a
          href={data.action.url}
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border border-gray-300 rounded-lg bg-blue-600 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          {data.action.title}
        </a>
      </div>
      <p class="text-xs text-gray-500 dark:text-gray-300">
        {data.privacyPolicy.content}
        <br />
        <a
          href={data.privacyPolicy.url}
          class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >{data.privacyPolicy.label}</a
        >.
      </p>
    </div>
  </div>
</section>
