---
import Member from "./Team/Member.astro";

interface Props {
  data:{
    title: string;
    content: string[];
    members: {
    fullName: string;
    role: string;
    imageUrl: string;
    links: {
      name: string;
      url: string;
      }[];
    }[];
  }
}
const { data } = Astro.props;
---

<section id="team" class="rounded-lg bg-gray-100 dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold"
        set:html={data.title}
      />
      <p class="font-light lg:mb-16 sm:text-xl" set:html={data.content} />
    </div>
    <div
      class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {
        data.members.map(
          (member: {
            fullName: string;
            role: string;
            imageUrl: string;
            links: { name: string; url: string }[];
          }) => (
            <Member
              fullName={member.fullName}
              role={member.role}
              imageUrl={member.imageUrl}
              links={member.links}
            />
          )
        )
      }
    </div>
  </div>
</section>
